In [1]:
import pandas as pd


from src.preprocessing import Preprocessing
from src.visualization import Visualization
from src.experiments import Experiments

In [2]:
df = pd.read_excel('data/dataset_case_1811.xlsx')
df.head()

,cidade_1,cidade_2,distancia,duracao,alcance,influencia,populacao,pib,renda,idhm,...,ext_mineral,servicos,siup,ind_transformacao,func_publicos,hor_mad,hor_man,hor_tar,hor_noi,hor_total
0,São Paulo,Rio de Janeiro,440,06:30:00,IE,MM,18970926,1036882814,1504.42,0.80,...,0.47,59.50,0.87,8.84,5.17,2,7,5,12,26
1,São Paulo,Belo Horizonte,600,09:20:00,IE,MM,14764093,788239520,1506.75,0.81,...,0.36,58.17,0.85,10.26,5.01,0,5,2,8,15
2,São Paulo,Brasília,1105,18:20:00,IE,MM,15267291,943971108,1615.66,0.81,...,0.07,59.78,0.81,7.81,8.59,0,4,6,8,18
3,São Paulo,Goiânia,900,15:00:00,IE,MM,13768136,748311494,1432.38,0.80,...,0.09,53.95,0.86,12.34,5.75,1,3,9,5,18
4,São Paulo,Florianópolis,700,10:30:00,IE,MR,12752996,718800871,1657.17,8.30,...,0.09,61.88,1.19,7.96,6.94,0,4,0,8,12

In [3]:
#Obtendo informações do dataset

Preprocessing.data_info(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cidade_1           143 non-null    object
 1   cidade_2           143 non-null    object
 2   distancia          143 non-null    int64
 3   duracao            143 non-null    object
 4   alcance            141 non-null    object
 5   influencia         143 non-null    object
 6   populacao          143 non-null    int64
 7   pib                143 non-null    int64
 8   renda              143 non-null    float64
 9   idhm               143 non-null    float64
 10  urbano             143 non-null    float64
 11  envelhecimento     143 non-null    float64
 12  esp_vida           143 non-null    float64
 13  dependencia        143 non-null    float64
 14  freq_superior      143 non-null    float64
 15  sup_completo       143 non-null    float64
 16  pop15_24           143 non-null    float64
 17  pop25_34           143 non-null    float64
 18  pop35_44           143 non-null    float64
 19  pop45_54           143 non-null    float64
 20  pop55_64           143 non-null    float64
 21  mulheres           141 non-null    float64
 22  desigualdade       143 non-null    float64
 23  autonomos          143 non-null    float64
 24  empregadores       143 non-null    float64
 25  agropecuaria       143 non-null    float64
 26  comercio           143 non-null    float64
 27  construcao         143 non-null    float64
 28  ext_mineral        143 non-null    float64
 29  servicos           143 non-null    float64
 30  siup               143 non-null    float64
 31  ind_transformacao  143 non-null    float64
 32  func_publicos      143 non-null    float64
 33  hor_mad            143 non-null    int64
 34  hor_man            143 non-null    int64
 35  hor_tar            143 non-null    int64
 36  hor_noi            143 non-null    int64
 37  hor_total          143 non-null    int64
dtypes: float64(25), int64(8), object(5)
memory usage: 42.6+ KB

{'shape': (143, 38),
 'describe':          distancia     populacao           pib        renda        idhm  \
 count   143.000000  1.430000e+02  1.430000e+02   143.000000  143.000000
 mean    448.839161  5.988950e+06  3.152888e+08  1235.852168    0.891469
 std     239.283044  5.165966e+06  3.062804e+08   204.282761    0.850592
 min      88.000000  4.384540e+05  1.604788e+07   723.320000    0.740000
 25%     259.500000  1.632562e+06  6.730295e+07  1095.350000    0.780000
 50%     428.000000  3.080943e+06  1.072350e+08  1230.110000    0.790000
 75%     578.000000  1.231006e+07  7.012290e+08  1348.860000    0.810000
 max    1464.000000  1.897093e+07  1.036883e+09  1778.200000    8.300000

            urbano  envelhecimento    esp_vida  dependencia  freq_superior  \
 count  143.000000      143.000000  143.000000   143.000000     143.000000
 mean    93.668601        8.059371   76.201958    40.279720      45.814545
 std      4.256755        1.193415    0.784592     1.953199       7.309046
 min     73.240000        4.350000   74.030000    34.810000      33.070000
 25%     91.900000        7.365000   75.770000    38.880000      41.045000
 50%     95.090000        8.250000   76.220000    40.250000      45.490000
 75%     96.375000        8.840000   76.775000    41.325000      50.690000
 max     98.340000       12.260000   78.390000    47.680000      68.840000

        ...  ext_mineral    servicos        siup  ind_transformacao  \
 count  ...   143.000000  143.000000  143.000000         143.000000
 mean   ...     0.384056   52.704615    1.013636          11.490909
 std    ...     0.485946    4.453250    0.250516           3.529247
 min    ...     0.030000   37.570000    0.600000           3.990000
 25%    ...     0.090000   50.260000    0.865000           9.140000
 50%    ...     0.220000   52.840000    0.990000          11.270000
 75%    ...     0.450000   55.075000    1.095000          13.050000
 max    ...     3.490000   64.860000    2.440000          23.410000

        func_publicos     hor_mad     hor_man     hor_tar     hor_noi  \
 count     143.000000  143.000000  143.000000  143.000000  143.000000
 mean        5.900629    0.573427    2.384615    2.265734    2.958042
 std         2.037146    1.090868    3.562170    3.640444    3.048607
 min         2.230000    0.000000    0.000000    0.000000    0.000000
 25%         4.460000    0.000000    0.500000    0.000000    1.000000
 50%         5.580000    0.000000    2.000000    1.000000    2.000000
 75%         7.365000    1.000000    3.000000    3.000000    4.500000
 max        11.890000    6.000000   28.000000   28.000000   18.000000

         hor_total
 count  143.000000
 mean     8.181818
 std      9.540600
 min      0.000000
 25%      3.000000
 50%      5.000000
 75%     10.000000
 max     77.000000

 [8 rows x 33 columns],
 'info': None,
 'types': cidade_1              object
 cidade_2              object
 distancia              int64
 duracao               object
 alcance               object
 influencia            object
 populacao              int64
 pib                    int64
 renda                float64
 idhm                 float64
 urbano               float64
 envelhecimento       float64
 esp_vida             float64
 dependencia          float64
 freq_superior        float64
 sup_completo         float64
 pop15_24             float64
 pop25_34             float64
 pop35_44             float64
 pop45_54             float64
 pop55_64             float64
 mulheres             float64
 desigualdade         float64
 autonomos            float64
 empregadores         float64
 agropecuaria         float64
 comercio             float64
 construcao           float64
 ext_mineral          float64
 servicos             float64
 siup                 float64
 ind_transformacao    float64
 func_publicos        float64
 hor_mad                int64
 hor_man                int64
 hor_tar                int64
 hor_noi                int64
 hor_total              int64
 dtype: object}

In [4]:
#Selecionando apenas as features numéricas

df_numeric = df.select_dtypes(include=['float64', 'int64'])

In [12]:
#Criando um dataset para cada horário, pois para cada horário existe uma variação na correlação
df_mad = df_numeric.drop(['hor_total', 'hor_noi', 'hor_tar', 'hor_man'], axis=1)
df_man = df_numeric.drop(['hor_total', 'hor_noi', 'hor_tar', 'hor_mad'], axis=1)
df_tar = df_numeric.drop(['hor_total', 'hor_noi', 'hor_mad', 'hor_man'], axis=1)
df_noi = df_numeric.drop(['hor_total', 'hor_mad', 'hor_tar', 'hor_man'], axis=1)

df_mad.to_csv('data/train_mad.csv', sep = '\t')
df_man.to_csv('data/train_man.csv', sep = '\t')
df_tar.to_csv('data/train_tar.csv', sep = '\t')
df_noi.to_csv('data/train_noi.csv', sep = '\t')